<div class="container">
  <h3 *ngIf="loading === false">{{ pageTitle }}</h3>
  <loading-icon *ngIf="loading === true"></loading-icon>

  <table class="table" *ngIf="earthquakes && earthquakes.length">
    <thead>
      <tr>
        <th>USGS Title</th>
        <th>Time Occurred</th>
        <th>Magnitude</th>
        <th>URL</th>
        <th>Coordinates</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let earthquake of earthquakes" [ngClass]="{danger: earthquake.magnitude >= 2.0,
          warning: earthquake.magnitude >= 1.0 && earthquake.magnitude < 2.0}">
        <td>{{earthquake.usgsTitle}}</td>
        <td>{{earthquake.getTimeOccurred() | date:'MM/dd/yyyy hh:mm a'}}</td>
        <td>{{earthquake.magnitude}}</td>
        <td><a href={{earthquake.url}}>{{earthquake.url}}</a></td>
        <td>{{earthquake.latitude}}, {{earthquake.longitude}}</td>
      </tr>
    </tbody>
  </table>
</div>
